.mix_editor {
  position: relative;
  min-height: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  background: #fff;

  & > ._mixeditor_selection {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;

    & > .__caret {
      width: 1px;
      background: #000;
      animation: blink 1s step-end infinite;
      position: absolute;

      & > .__inputer {
        opacity: 0;
      }
    }
    & > .__ranges {
      & > .__range {
        position: absolute;
        background-color: #0080ff5a;
      }
    }
  }

  & > ._paragraph {
    margin: 1em 0;
    line-height: 1.5;
  }

  & > ._text {
    white-space: pre-wrap;
  }
}

@keyframes blink {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
