.mix_editor {
  position: relative;
  min-height: 300px;
  border: 1px solid #ccc;
  background: #fff;
  display: flex;

  & > ._bv_selection {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;

    & > ._caret {
      width: 1px;
      background: #000;
      position: absolute;

      &.__blink {
        animation: bv__caret_blink 1s step-end infinite;
      }

      & > ._inputer {
        position: absolute;
        bottom: 0;
        opacity: 0;
      }
    }
    & > ._ranges {
      & > ._range {
        position: absolute;
        background-color: #0080ff5a;
      }
    }
  }

  & > ._root {
    user-select: none;
    cursor: text;
    padding: 10px;
  }
}

@keyframes bv__caret_blink {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
